/* Makes Text Alignment Possible */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* Text Color */
body{
    color: #ffffff;
    
}
/* Alignment Types */
.align{
    text-align: center;
}
.alignall{
    text-align: center;
    padding: calc(50dvh - 1em) 0;
}
/* Backgrounds */
.gradient{
    background: linear-gradient(151deg, #0f0844, #44045e, #16001f);
}